<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676610162363-adtr1r1j9neuqj598d4ihi0572amhulm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676610162363-adtr1r1j9neuqj598d4ihi0572amhulm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676610162363-l17oaoeglva9n5qu3m6l6p5h4vh1f1do.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZPJg6IH41U4RBm08Kf1YMDTN5j_elD0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>676610162363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneytracker</string>
	<key>PROJECT_ID</key>
	<string>moneytracker-c483b</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytracker-c483b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676610162363:ios:367bfd213c86f2ec30739e</string>
</dict>
</plist>